<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a href="javascript:void(0);"
                        class="d-flex align-items-center border bg-white rounded p-2 mb-4">
                        <img src="../assets/img/icons/global-img.svg" class="avatar avatar-md img-fluid rounded"
                            alt="Profile">
                        <span class="text-dark ms-2 fw-normal">EST - Guelmim</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <h6 class="submenu-hdr"><span>Main</span></h6>
                    <ul>
                        <li class="submenu">
                            <a href="dashboard" class="subdrop active">
                                <i class="ti ti-layout-dashboard"></i><span>Admin Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <h6 class="submenu-hdr"><span>Peoples</span></h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="ti ti-school"></i><span>Students</span><span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="students-list">Student List</a></li>
                                <li><a href="student-details">Student Details</a></li>
                                <!-- <li><a href="../student-promotion.html">Student Promotion</a></li> -->
                            </ul>
                        </li>
                        <!-- <li class="submenu">
                            <a href="javascript:void(0);"><i
                                    class="ti ti-user-bolt"></i><span>Parents</span><span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="../parent-grid.html">All Parents</a></li>
                                <li><a href="../parents.html">Parent List</a></li>
                            </ul>
                        </li> -->
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="ti ti-users"></i><span>Teachers</span><span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="teacher-list">All Teachers</a></li>
                                <li><a href="teacher-details">Teacher Details</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <h6 class="submenu-hdr"><span>Academic</span></h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i
                                    class="ti ti-school-bell"></i><span>Classes</span><span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="../classes.html">All Classes</a></li>
                                <li><a href="../schedule-classes.html">Schedule</a></li>
                            </ul>
                        </li>
                        <li><a href="../class-room.html"><i class="ti ti-building"></i><span>Class Room</span></a>
                        </li>
                        <li><a href="../class-section.html"><i
                                    class="ti ti-square-rotated-forbid-2"></i><span>Section</span></a></li>
                        <li><a href="../class-subject.html"><i class="ti ti-book"></i><span>Subject</span></a></li>
                        <li><a href="../class-syllabus.html"><i
                                    class="ti ti-book-upload"></i><span>Syllabus</span></a></li>
                        <li><a href="../class-time-table.html"><i class="ti ti-table"></i><span>Time
                                    Table</span></a></li>
                        <li><a href="../class-home-work.html"><i class="ti ti-license"></i><span>Home
                                    Work</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i
                                    class="ti ti-hexagonal-prism-plus"></i><span>Examinations</span><span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="../exam.html">Exam</a></li>
                                <li><a href="../exam-schedule.html">Exam Schedule</a></li>
                                <li><a href="../grade.html">Grade</a></li>
                                <li><a href="../exam-attendance.html">Exam Attendance</a></li>
                                <li><a href="../exam-results.html">Exam Results</a></li>
                            </ul>
                        </li>
                        <li><a href="../academic-reasons.html"><i
                                    class="ti ti-lifebuoy"></i><span>Reasons</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Sidebar -->