<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
        <!-- Common top logo -->
        <ul>
          <li>
            <a href="dashboard"
              class="d-flex align-items-center border bg-white rounded p-2 mb-4">
              <img src="../assets/img/icons/global-img.svg" class="avatar avatar-md img-fluid rounded"
                alt="Profile">
              <span class="text-dark ms-2 fw-normal">EST - Guelmim</span>
            </a>
          </li>
        </ul>
  
        <% if (user.role === 0) { %>
          <!-- Admin menu -->
          <ul>
            <li>
              <h6 class="submenu-hdr"><span>Principal</span></h6>
              <ul>
                <li>
                  <a href="dashboard" class="subdrop">
                    <i class="ti ti-layout-dashboard"></i><span>Tableau de bord Admin</span>
                  </a>
                </li>
              </ul>
            </li>
  
            <li>
              <h6 class="submenu-hdr"><span>Peuples</span></h6>
              <ul>
                <li>
                  <a href="students-list"><i class="ti ti-school"></i><span>Liste des Étudiants</span></a>
                </li>
                <li>
                  <a href="teacher-list"><i class="ti ti-users"></i><span>Tous les Enseignants</span></a>
                </li>
              </ul>
            </li>
  
            <li>
              <h6 class="submenu-hdr"><span>Académique</span></h6>
              <ul>
                <li>
                  <a href="class-list"><i class="ti ti-building"></i><span>Les Classes</span></a>
                </li>
                <li>
                  <a href="class-room-list"><i class="ti ti-building"></i><span>Salle de Classe</span></a>
                </li>
                <li>
                  <a href="subject-list"><i class="ti ti-book"></i><span>Les matière</span></a>
                </li>
              </ul>
            </li>
          </ul>
  
        <% } else { %>
          <!-- Student menu -->
          <ul>
            <li>
              <h6 class="submenu-hdr"><span>Principal</span></h6>
              <ul>
                <li>
                  <a href="dashboard" class="subdrop">
                    <i class="ti ti-layout-dashboard"></i><span>Tableau de bord Étudiant</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
  <!-- /Sidebar -->
  