<!-- Address -->
<div class="col-xxl-6 d-flex">
    <div class="card flex-fill">
        <div class="card-header">
            <h5>Adresse</h5>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i class="ti ti-map-pin-up"></i></span>
                <div>
                    <p class="text-dark fw-medium mb-1">Adresse actuelle</p>
                    <p><%= teacherDetails.adresse_actuelle %></p>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <span class="avatar avatar-md bg-light-300 rounded me-2 flex-shrink-0 text-default"><i class="ti ti-map-pins"></i></span>
                <div>
                    <p class="text-dark fw-medium mb-1">Adresse permanente</p>
                    <p><%= teacherDetails.adresse_permanente %></p>
                </div>
            </div>
        </div>
    </div>								
</div>
<!-- /Address -->